<!-- /.content-wrapper -->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> {{ version }}
  </div>
  <strong>Copyright &copy; 2019 <a href="{{ base_url }}">Kanzig Inc.</a>.</strong> All rights
  reserved.
</footer>