<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Sobre mim</h5>
		<img src="{{ asset('images/thomaskanzig-2.jpg') }}" alt="..." class="img-fluid rounded-circle photo-profile">
    <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Read more</a>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Social links</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Mais lidos</h5>
  </div>
</div>