<header class="masthead" style="background-image: url('{{ asset('images/bg-index.jpg') }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Blog Personal</h1>
          <!--Uma descricao basica da pagina
          <span class="subheading">Uma descricao basica da pagina</span-->
        </div>
      </div>
    </div>
  </div>
</header>