{% extends 'admin.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            Home page
        </h1>
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                Hi {{ app.user.username }}, welcome to {{ name_admin }}.
            </div>
        </div>
    </section>
{% endblock %}