// Styling for the post page
.post-preview {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid $gray-300;

    &:last-of-type {
        border-bottom: 0;
    }

    a {
        color: $gray-900;

        &:focus,
        &:hover {
            text-decoration: none;
            color: $primary;
        }

        .post-title {
            font-size: 30px;
            margin-bottom: 10px;
        }

        .post-subtitle {
            font-weight: 300;
            margin: 0 0 10px;
            font-size: 20px;
        }
    }

    .post-user .post-user-published {
        font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
        .post-image {
            margin-bottom: 20px;
        }
        a {
            .post-title {
                font-size: 30px;
            }
        }
    }
}