{% extends 'admin.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            Edit category
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Categories</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Form</h3>
                    </div>

                    {{ form_start(categoryForm) }}
                        <div class="box-body">
                            {{ form_row(categoryForm.name) }}
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Edit category</button>
                        </div>
                    {{ form_end(categoryForm) }}
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}