{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
                <article class="blog-detail">
                    <header>

                    </header>

                    <div class="text">
                        Content of gallery.
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}