.blog-detail {
    .blog-detail-title {
        margin-bottom: 40px;
    }

    .text {
        p {
            font-size: 20px;
            font-weight: initial;
            line-height: 1.6;
            color: $colorGreyDark;
        }
    }

    .author {
        font-size: initial;
        font-weight: initial;
    }

    .author-fullname {
        font-size: 14px;
        color: $colorGreyDark;
    }

    .author-date-post {
        font-size: 12px;
    }

    .author-photo {
        width: 50px;
        height: 50px;
    }
}
